@model CMCS.Models.LectureClaim

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Use your layout file
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-info">Lecture Claim Details</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 text-center p-4">
                            <span>Name: <em><b>@Model.LecturerName @Model.LecturerSurname</b></em></span>
                        </div>
                        <div class="col-6 text-center">
                            <img src="@Url.Content("~/wwwroot/SupportingDocument/Document" + Model.ClaimDocument)" style="width:100px; height:100px; border:1px solid red; border-radius:10px; padding:10px;" alt="Lecture Claim image" /><br />
                            <span>Claim ID: <em><b>@Model.ClaimID</b></em></span>
                        </div>
                    </div>
                    <div class="m-2">
                        <dl class="row">
                            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.LecturerEmail)</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.LecturerEmail)</dd>
                            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.ClaimDate)</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.ClaimDate))</dd>
                            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.HoursWorked)</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.HoursWorked)</dd>
                            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.HourlyRate)</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.HourlyRate)</dd>
                            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Status)</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.Status)</dd>
                        </dl>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-sm btn-primary text-light m-2 p-2" asp-action="Index" asp-controller="LectureClaims">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

